body{
    font-family: sans-serif;
}
#body{
    width: 100%;
    height: auto;
    background-color:whitesmoke;
}
#coupon{
    margin-top: 150px;
}
#coupon img{
    width: 100%;
    height: 200px;
}

#off{
    width: 75%;
    height: 350px;
    margin: auto;
    display: flex;
    margin-top: -85px;
    
}
#off>div{
    width: 31%;
    height: 100%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    background-color: white;
}
#off>div>div{
    width: 100%;
    height: 70px;
    margin-bottom: 250px;
    margin-top: -30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}
.h3{
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
}
.p{
    margin-top: -25px;
    margin-left: 10px;
}
.off{
    background-color: rgb(244, 216, 10);
}
.btn1{
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
.btn1>button{
    border: none;
    background-color: rgb(244, 216, 10);
    text-align: center;
    padding: 14px 35px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
#code{
    width: 73%;
    margin: auto;
}
#categ{
    width: 73%;
    height: 80px;
    margin: auto;
    display: flex;
    background-color:white;
    justify-content: space-evenly;
}
#categ>div{
    width: 12%;
    height: 70%;
    margin: auto;
    text-align: center;
}
#categ>div:hover{
    font-weight: bold;
    color: black;
}
.all{
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}
.underline{
    width: 70%;
    margin: auto;
    border: 2px solid #ffda00;
    background-color: #ffda00;
    border-radius: 1px;
    margin-top: -5px;
}
.para{
    color: grey;
    cursor: pointer;
}
.tool{
    color: grey;
    margin-top: 0px;
    cursor: pointer;
}
.tools{
    color: grey;
    margin-top: 9px;
    cursor: pointer;
}
#sort{
    width: 74%;
    height: 30px;
    margin: auto;
    display: flex
}
#sort>div{
   padding: 10px;
   margin-top: -11px;
   font-size: 13px;
   cursor: pointer;
}
#product{
    width: 73%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 15px;
    
}
#product :hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#product >div{
    background-color: white;
    margin-top: 25px;
    border-radius: 15px;
}
#product >div >img{
    width: 210px;
    border-radius: 20px;
}
#product >div >h4{
    color: grey;
    margin-top: -15px;
    font-size: 15px;
    margin-left: 10px;
}
#product >div> h2{
    margin-left: 10px;
}
#product >div> p{
    width: 200px;
    height: 90px;
    margin-left: 10px;
    text-overflow: ellipsis;
}
#couponleft{
    height: 75px;
    background-color: #ffda00;
}
#couponleft>p{
    margin-left: 10px;
    margin-top: 15px;
    padding: 10px;
}
#couponleft>h4{
    border:1px dashed;
    padding: 5px;
    margin: -15px 15px 5px 20px;
}




