/* sliders */
* {
  box-sizing: border-box;
}



.container {
  width: 90%;
  height: 200px;
  position: relative;
  /* border: 1px solid #ddd; */
  overflow: hidden;
  margin:auto
}

ul {
  width: 9999%;
  height: 100%;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.75s ease;
}

li {
  width: 26.66vw;
  height: 100%;
  float: left;
  
}

li:nth-child(1) {
  
  width:300px
  
}

li:nth-child(2) {
  width:300px
}

li:nth-child(3) {
  width:300px
}

li:nth-child(4) {
  width:300px
}

li:nth-child(5) {
  width:300px
}

li:nth-child(6) {
  width:300px
}

li:nth-child(7) {
  width:300px
}

li:nth-child(8) {
  width:300px
}

li:nth-child(9) {
  width:300px
}

#prev,
#next {
  position: absolute;
  top: 50%;
  color: #aaa;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px 3px;
  background: white;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.15s ease;
  border: 1px solid #ddd;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
  color: #888;
}






/* products boxes */

#name1 {
    /* white-space: nowrap; 
  width: 200px; 
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000; */
  width:210px;
  height: 38px;
    line-height: 18px;
    font-size: 14px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    word-wrap: break-word;
    word-break: break-word;
  
}

#container1{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin:auto;
  /* border:1px solid red; */
  width:90%;
  font-family: OpenSans,Arial,Helvetica,sans-serif;
  margin-top:70px
    
}
#priceBox{
  
  height: 50px;
}
#price-style{
  color: #f30240;
  display: inline-block;
    width: 175px;
    line-height: 28px;
    height: 28px;
    vertical-align: middle;
    font-size: 20px;
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#container1>div {
  padding: 11px 10px 7px;
  margin-bottom: 40px;
}

#container1>div:hover {
  width: 235px;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  
  margin-left: 3px;
  

  
}

#container1>div>img {
  width: 210px;
  cursor: pointer;
}
#container1>div>p{
  cursor: pointer;
}

/* top icon */
#icon {
  text-align: center;
  height: 20px;
    line-height: 28px;
    color: #000;
    font-weight: 700;
    font-size: 28px;
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#xyz {
  padding:8px;
  border:1px solid #eeeeee;
  width:290px
}
#xyz:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#xyz>p{
  color:#000;
  width: 190px;
  height: 32px;
  font-family: OpenSans,Arial,Helvetica,sans-serif;
  font-size:14px;
  top:9px;
  margin-left:10px
  
}
#xyz>p:hover{
  color:orange;
  cursor: pointer;
}
#abc {
  margin-bottom: 50px;
  display: flex;
  /* justify-content: space-between; */

}
#abc>div>img {
  width:125px;
  margin-left:20px;
  cursor: pointer;
}
#www {
  width: 20px;
  height: 20px;
  margin-top: 55px;
}


#www>p{
  gap:20px;
  line-height: 5px; 
}
#www>:nth-child(1){
  color:#999;
  font-size:14px;
  line-height: 19px;
  font-family: OpenSans,Arial,Helvetica,sans-serif;
}
#www>:nth-child(2){
  color:#f30240;
  font-family: OpenSans,Arial,Helvetica,sans-serif;
  font-size: 20px;
}
#www>:nth-child(2)>i{
  font-size:15px
}
#rrr {
  margin-left: 110px;
}

#latest{
  height: 28px;
    line-height: 28px;
    color: #000;
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    margin-bottom: 16px;
    margin-left: 3px;
    font-family: OpenSans,Arial,Helvetica,sans-serif;
    margin-left: 70px;
    margin-top:40px;
    
}

/* slider2 */

#slider{
  width: 90%;
  margin-left: 80px;
  display: flex;
  /* border:1px solid black; */
  margin-top: 40px;
  height:50px;
  
}
#slide{
  width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
  display: flex;
  /* border:1px solid blue; */
  height: 50px;
  gap:60px
}
.item{
  color: #959595;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 100px;
  

}
#slide::-webkit-scrollbar {
  display: none;
}


.item:hover{
  

  color: black;
  border-bottom: 3px solid #fadc32;
  font-weight: bolder;
}

#pro-next, #pro-prev {
  border: none;
  cursor: pointer;
  background-color: transparent;
}